@font-face {
    font-family: 'highjersey';
    src:  url('../fonts/HighJersey.woff2') format('woff2'),
        url('../fonts/High\ Jersey.woff') format('woff');      
}

@font-face {
    font-family: 'highjerseyItalic';
    src:  url('../fonts/HighJerseyItalic.woff2') format('woff2'),
        url('../fonts/HighJerseyItalic.woff') format('woff');
}

@font-face {
    font-family: 'runboy';
    src:  url('../fonts/Runboy.woff2') format('woff2'),
    url('../fonts/Runboy.woff') format('woff');
}

@font-face {
    font-family: 'basketball';
    src:  url("../fonts/Basketball.otf") format("woff");
}

*{
    font-family: "runboy";
   
}

body{
    margin: auto;
    background-image: url("../images/Hex_background.jpg");
    background-size: cover;
}

/* Web page grid container*/
#grid_container{
    display: grid;
    grid-template: 100px 1000px 100px / 10% 1fr 1fr 1fr 10%;
    grid-template-areas: 
        'header header header header header'
        '... main main main ...'
        'footer footer footer footer footer';
}

header{
    grid-area: header;
    border-bottom: 1px solid #FFB001;
    height: 100px;
    background-color: #0E0F1B;
}

footer{
    grid-area: footer;
    border-top: 1px solid #FFB001;
    height: 100px;
    background-color: #0E0F1B;
    margin-top: 100px;
}

/* main body grid container */
#main_container{
    grid-area: main;
    border: 1px solid #FFB001;
    display: grid;
    margin-top: 100px;
    border-radius: 100px;
    background-color: #0E0F1B;
    opacity: 93%;
}



/* Grid inside header*/
#grid_header{
    display: grid;
    align-content: center;
    grid-template: 100px / 100px 8fr 1fr 1fr 1fr 100px;
    grid-template-areas: 
        'logo title search signup login account';
    

}

/* Items within the header */
#logo_home{
    grid-area: logo;
    height: 100%;
}
#logo_home:hover{ opacity: 85%;}

#title{
    grid-area: title;
    color: lightgray;
    font-size: 200%;
    letter-spacing: 5px;
    text-decoration: none;
    padding-left: 2%;
    align-self: center;
    justify-self: center;
}
#title:hover{ color: #FFB001;}

.search_form{
    grid-area: search;
    align-self: center;
    display: grid;
    justify-items: start;
    align-items:initial;
}

.search_form > * {
    grid-column-start: 1;
    grid-row-start: 1;
}

#search_bar{
    align-self: center;
    justify-self: right;
    width: 300px;
    border-radius: 20px;
    font-size: 150%;
    padding-left: 3%;
    height: 30px;
}

#submit_bttn{
    cursor: pointer;
    justify-self: right;
    align-self: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 35px;
    padding-left: 3%;
    padding-right: 5%;
}

#sign_up{
    grid-area: signup;
    /*border: 2px solid #FFB001;*/
    color: lightgray;
    text-decoration: none;
    font-size: 180%;
    letter-spacing: 3px;
    align-self: center;
    justify-self: right;
}
#sign_up:hover{ color: #FFB001;}

#login{
    grid-area: login;
    /*border: 2px solid #FFB001;*/
    color: lightgray;
    text-decoration: none;
    font-size: 180%;
    letter-spacing: 3px;
    align-self: center;
    justify-self: center;
}
#login:hover{ color: #FFB001;}

#account{
    grid-area: account;
    height: 85%;
    border-radius: 100%;
    align-self: center;
    justify-self: center;
}
#account:hover{ opacity: 85%;}

#account_img{
    height: 100%;
    border-radius: 100%;
    border: 2px solid #FFB001;
}

/* footer containter starts here */
#footer_container{
    display: grid;
    grid-template: 100px / 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
    grid-template-areas: 
        '. about contact policies faq . icons';
        justify-content: center;
}

/* Items wthin footer container */
#about_us{
    grid-area: about;
    color: lightgray;
    text-decoration: none;
    font-size: 180%;
    letter-spacing: 3px;
    align-self: center;
    justify-self: center;
}
#about_us:hover{ color: #FFB001;}

#contact_us{
    grid-area: contact;
    color: lightgray;
    text-decoration: none;
    font-size: 180%;
    letter-spacing: 3px;
    align-self: center;
    justify-self: center;
}
#contact_us:hover{ color: #FFB001;}

#policies{
    grid-area: policies;
    color: lightgray;
    text-decoration: none;
    font-size: 180%;
    letter-spacing: 3px;
    align-self: center;
    justify-self: center;
}
#policies:hover{ color: #FFB001;}

#faq{
    grid-area: faq;
    color: lightgray;
    text-decoration: none;
    font-size: 180%;
    letter-spacing: 3px;
    align-self: center;
    justify-self: center;
}
#faq:hover{ color: #FFB001;}

#icon_container{
    grid-area: icons;
    height: 85%;
    align-self: center;
    justify-content: space-evenly;
}

.logos{
    height: 100%;
    float: none;
    align-self: center;
    margin-left: 5%;
}

#twitter_img{
    grid-area: twitter;
    height: 100%;
}

.icon_logos{
    text-decoration: none;
    justify-self: center;
}

